/*general*/
body {
	font-size: 16px;
	/*background-color: #404 */
}
img {
	display: block;
	top:0;
	left:0;
	width: 100%;
}

.siteWrapper {
	margin: 1em auto;
	max-width: 1000px;
	border: 1px solid black;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.6)
}

/*header*/
.logoWrapper {
	display: block;
	width: 300px;
}
.navbar {
	border-radius: 0;
}
.inverse-dropdown{
	background-color: #222;
	border-color: #080808;
}
.inverse-dropdown>li>a{
    color: #999;
}
.inverse-dropdown:hover{
	color: #fff;background-color: #000;
}
.inverse-dropdown>.active>a{
	background-color: #000;
}
#congress a:hover {
	color:#9d9d9d;
}
#congress select {
	color:#333;
	margin-left: 0.5em;
}
#congress select:active, #congress select:hover{
	color: #333;
}


/*main*/
main {
	padding: 1em;
}
aside {
	margin-top: 2em;
}

hr {
	border: 1px solid rgba(0,0,0,0.2);
}

/*tables*/
table a, table a:hover, table a:focus {
	color: inherit;
}
/*party labels*/
.partySpan {
	display: inline-block;
	height: 1em;
}
.partySpan img {
	height: 100%;
	width: auto;
	display: inline;

}

/*party rows*/
.rowColorR:hover {
	background-color: #fbb;
}
.rowColorD:hover {
	background-color: #bbf;
}
.rowColorI:hover {
	background-color: #d6dddd;
}
/*- search hits*/
.searchHit {
	color: #000;
	background-color: rgba(0,0,0,0.3);
}

/*- user inputs*/
.filterContainer {
	margin: 1em 0;
}

.filterContainer div {
	margin-top: 1em;
}
.checkbox {
	margin-top: 0;
	font-weight: normal;
}

h4 {
	display: inline;
	margin-right: 1em;
	font-weight: bold;
}
 /*- sort icons*/
.sortIcon {
	cursor: pointer;
	color: rgba(0,0,0,0.3);
}

.sortIcon.active {
	cursor: auto;
	color: #333;
}

 /*- tooltips*/
.toolTip {
    position: relative;
    display: inline-block;
}
.toolTip .toolTipText {
    /*visibility: hidden;*/
    background-color: rgba(0,0,0,0);
    color: rgba(0,0,0,0);
    width: 9em;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    transform: translateX(1em);
    z-index: 1;
    transition: color 0.2s ease-in; 
    transition: background-color 0.2s ease-in; 
}
.toolTip:hover .toolTipText {
    /*visibility: visible;*/
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}

/*footer*/
footer {
	text-align: center;
	padding: 10px;
	border: 1px solid #080808;
	color: #fff;
	background-color: #222;
	margin: 1em 0;
}
.mail {
	display: inline-block;
}
