body {
	font-size: 16px;
	/*background-color: #404 */
}

.navbar {
	border-radius: 0;
}
.inverse-dropdown{
	background-color: #222;
	border-color: #080808;
}
.inverse-dropdown>li>a{
    color: #999;
}
.inverse-dropdown:hover{
	color: #fff;background-color: #000;
}
.inverse-dropdown>.active>a{
	background-color: #000;
}


.siteWrapper {
	margin: 0 auto;
	max-width: 1000px;
}
main {
	padding: 1em;
}

footer {
	text-align: center;
	padding: 10px;
	border: 1px solid #080808;
	color: #fff;
	background-color: #222;
	margin-top: 20px;
}

.filterContainer div {
	margin-top: 1em;
}
.collapseLink {
	color: #000;
}
.collapseLink:hover {
	color: #222;
	text-decoration: none;
}
.collapseLink:focus {
	color: #000;
	text-decoration: none;
}
.logoWrapper {
	display: inline;
}
.mail {
	display: inline-block;
}
h4 {
	display: inline;
	margin-right: 1em;
	font-weight: bold;
}

.sortIcon {
	cursor: pointer;
	color: rgba(0,0,0,0.5);
}

.sortIcon.active {
	cursor: auto;
	color: rgba(0,0,0,1);
}