body {
	font-size: 16px;
	/*background-color: #404 */
}
.logoWrapper {
	display: block;
	width: 300px;
}
.navbar {
	border-radius: 0;
}
.inverse-dropdown{
	background-color: #222;
	border-color: #080808;
}
.inverse-dropdown>li>a{
    color: #999;
}
.inverse-dropdown:hover{
	color: #fff;background-color: #000;
}
.inverse-dropdown>.active>a{
	background-color: #000;
}

.siteWrapper {
	margin: 1em auto;
	max-width: 1000px;
	border: 1px solid black;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.6)
}
main {
	padding: 1em;
}

footer {
	text-align: center;
	padding: 10px;
	border: 1px solid #080808;
	color: #fff;
	background-color: #222;
	margin: 1em 0;
}

img {
	display: block;
	top:0;
	left:0;
	width: 100%;
}

aside {
	margin-top: 2em;
}

hr {
	border: 1px solid rgba(0,0,0,0.2);
}

.filterContainer {
	margin: 1em 0;
}

.filterContainer div {
	margin-top: 1em;
}
.checkbox {
	margin-top: 0;
	font-weight: normal;
}
.mail {
	display: inline-block;
}

h4 {
	display: inline;
	margin-right: 1em;
	font-weight: bold;
}

.sortIcon {
	cursor: pointer;
	color: rgba(0,0,0,0.5);
}

.sortIcon.active {
	cursor: auto;
	color: rgba(0,0,0,1);
}